.gametype-container {
  display: flex;
  justify-content: center;

  button {
    height: 50px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    width: 140px;
    background-color: #346675;
    border: none;
    border-radius: 5px;
    &.active {
      background-color: #21b1dc;
    }
  }
}
